body {
  background-image: url(/content/assets/patterns/qcu50011.jpg);
  background-repeat: repeat;
  border: none;
}

.wrapper {
  display: flex;
  background-color: rgb(255, 255, 255, 0.5);
}

/*the leftmost side*/
#aside {
  width: 300px;
}

/*applies to all sections*/
section {
  border-left: 2px solid black;
  padding-left: 10px;
}

/*within essays*/
.intro {
  padding-bottom: 20px;
}

.intro img {
  float: right;
}