body {
  background-image: url(/content/assets/patterns/qcu50011.jpg);
  background-repeat: repeat;
  border: dotted black 2px;
}

.wrapper {
  display: flex;
  padding: 10px;
  background-color: rgba(230, 228, 240, 0.774);
  gap: 10px;
}

h2 {
  font-size: 16px;
}

/*the leftmost side*/
#intro {
  width: 200px;
}

/*applies to all sections*/
section ul{
  padding-left: 25px;   
}
