main {
  width: 100%;
}

#content {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.innertube {
  padding: 0;
}

.innertube ul {
  display: flex;
  list-style: none;
  text-align: center;
}

.innertube a {
  text-decoration: none;
  color: black;
}

#back {
}