body {
  background-image: url("../artnav/artwork/illustrations/town.jpg");
  background-size: cover;
  border: none;
  height: 1300px;
}

.top {
  width: auto;
  justify-content: space-between;
}

#quote {
  background-color: rgba(255, 255, 255, 0.7);
}

#right h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 20px;
}

#wrapper {
  padding: 10px;
  border: 3px blue dotted;
  background: none;
  background-color: rgba(255, 255, 255, 0.5);
  gap: 10px;
  justify-content: space-between;
}

#nav {
  border: 3px blue dotted;
  padding: 10px;
  align-content: space-evenly;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li:not(:last-child) {
  margin-bottom: 15px;
}

#intro {
  text-align: right;
  padding-right: 3px;
  width: 200px;
}

#intro img {
  padding-top: 20px;
  width: 100px;
  float: left;
}

#newestwork>p {
  font-size: 14px;
  font-style: italic;
  position: absolute;
  top: 70px;
}

#newestwork img {
  border-radius: 10%;
  max-height: 250px;
}

iframe {
  border: none;
  width: 100%;
}

#status {
  padding-top: 25px;
  font-size: 10px;
}

#status ul {
  list-style: none;
}

#guestbook {
  text-align: center;
}