body {
  background-image: url("../artnav/artwork/illustrations/town.jpg");
  background-size: cover;
  border: none;
}

.top {
  margin-top: 25px;  
  width: auto;
}

#right {
  position: absolute;
  margin-left: 750px;
  margin-top: -59px;
  scale: 47%;
  filter: drop-shadow(5px 5px 5px #000);
}

#wrapper {
  padding: 10px;
  border: 4px white dotted;
  background: none;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
  font-size: 12px;
}

a {
  color: slateblue;
}

a:hover {
  color: brown;
}

/* first row on home page */

/* this defines flex for all rows */
.row {
  display: flex;
  gap: 1px;
  justify-content: space-between;
}

.row h5 {
  font-style: italic;
}

#artist img {
  max-height: 100%;
  max-width: 50%;
}

#nav {
  border: 2px slateblue dotted;
  padding: 10px;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav li:not(:last-child) {
  margin-bottom: 15px;
}

#intro {
  width: 200px;
  font-size: 14px;
  text-align: right;
}

#status {
  text-align: right;
  padding-top: 25px;
  font-size: 10px;
}

#status ul {
  list-style: none;
}

#intro img {
  width: 100px;
  float: left;
}

#newestwork>p {
  font-size: 14px;
  font-style: italic;
  position: absolute;
  top: 70px;
}

#newestwork img {
  border-radius: 10%;
  max-height: 250px;
}

iframe {
  border: none;
  width: 100%;
}

.updates {
  width: 305px;
}

.updates #lower {
  border: 2px slateblue dotted;
}

#guestbook {
  text-align: center;
}

/* second row on home page */

#dream {
  width: 300px;
}

#dream button {
  float: right;
}

#artist {
  width: 300px;
}

#artist img {
  float: right;
}

#text {
  width: 300px;
}