body {
    background-image: url('/content/photos/nature/sky1.jpg');
    background-size: cover;
    margin: 10px;
}

.top {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-size: 12px;
}

.top #season {
    font-size: 16px;
}

.entry h2 {
    border-bottom: 1px solid black;
    font-size: 14px;
}

.entry>h2::before {
    content: url(../content/assets/gifs/blackswirl.gif);
    margin-right: 5px;
}

iframe {
    background-color: rgba(255, 255, 255, 0.5);
    border: dotted blue 3px;
    width: 100%;
    height: 50vh;
    margin-bottom: 10px;
}

.entry {
    display:flex;
    flex-direction: column;
}

footer{
    margin-top: 10px;
}