* {
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: #9e9c6c;
}

#container { 
      border: 1px solid red;
      display: flex; 
      flex-wrap: wrap;
      height: 675px;
      width: 1100px; 
      margin: 1rem; 
      padding: 0.5rem;
      background-image:url(/content/placeholder/floral_bg.jpg);
      background-repeat: repeat;
 }


/* navigation */

#navbar {
  border: 1px solid red;
  padding: 0px 0px 0px 10px;
  width: 20%;
}

/* about section */

.about {
  border: 1px solid red;
  flex-direction: column;
  padding: 8px;
  margin: 0px 0px 0px 25px;
  width: 75%;
}

.about .about-body{
  text-align: center;
  margin-bottom: auto;
}

.about #bunnies {
  font-size: 13px;
}
/* entire updates section */

.updates-container {
  align-self: flex-end;
}

/* earlier entries section, left */

.news-journal-container {
  border: 1px solid red;
  align-self: flex-end;
  flex-direction: row;
  padding: 0.5;
}

#footer{
  font-size: 13px;
  align-content: center;
} 
